.error404Dimension {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: white;
    text-align: center;
}

.backLink {
    text-decoration: none;
    width: 10%;
    border-radius: 3px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    border: none;
    background-color: var(--myWhiteHEX);
    font-weight: bold;
    font-size: 25px;
    box-shadow: 0 0 40px rgba(var(--myBlueRGB), 60);
    color: var(--myBlueHEX);
    padding: 0.35rem;
}

.backLink:hover {
    scale: 1.05;
    background-color: var(--myBlueHEX);
    color: var(--myWhiteHEX);
}
